html, body {
	height: 100%;
	width: 100%;
}

.navbar{
	background-color: black;
	padding: 0.5% 0;
	font-size: 1.2em;
}

.navbar-default .navbar-nav li a {
	color:#78d4d4 ;
}


.navbar-default .navbar-nav li a.active {
	color:  white;
	font-size: 1.4em;
}
.navbar-default .navbar-nav li a:hover {
	color:  #F7DCCB;
}

#home {
	background: url("../img/home2.jpg") no-repeat center center fixed;
	display: table;
	height: 100%; 
	position: relative;
	width: 100%;
	background-size: cover;
	color: white;
}
.heads {
	margin-top: 50px;
	display: table;
	height: 50%; 
	position: relative;
	width: 100%;
	background-size: cover;

}

#headfilm {
	background: url("../img/movies1.jpg") no-repeat center center fixed;
	background-size: cover;

}
#headbooks {
	background: url("../img/books.jpg") no-repeat center center fixed;
	background-size: cover;
	
}
#headmusic{
	background: url("../img/music1.jpg") no-repeat center center fixed;
	background-size: cover;
}
#headlinks{
	background: url("../img/links.jpg") no-repeat center center fixed;
	background-size: cover;
}
#headcontact{
	background: url("../img/contact.jpg") no-repeat center center fixed;
	background-size: cover;
}
#headreg{
	background: url("../img/register.jpg") no-repeat center center fixed;
	background-size: cover;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-shadow: transparent;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}
.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
	color: black;
	
}
.landing-text h3 {
	font-size: 250%;
	font-weight: 350;
	color: black;
}
.landing-text h4 {
	font-size: 350%;
	font-weight: 350;
}

.landing-text p {
	padding-left: 70px;
	padding-right: 70px;
	font-weight: 350;
	font-size: 150%;
	color: black;
}


.padding {
	padding: 40px 0px;
}
table{
	border-style: hidden;
	border-radius: 5px;
}

table tr:nth-child(odd) {
    background:#F7DCCB;
}

table tr:nth-child(even) {
    background: #78d4d4;
}

.table td p {
	color: black;
	font-size: 125%;
	
}

#myPic {
	border-style: solid;
	margin-top: 40px;
	border-width: 5px;
	border-color: #F7DCCB;
}

#abtme {
	background-color: #78d4d4;
    margin: 10px;
    border-style: hidden;
    border-radius: 5px;
}
#abtme p, h4 {
	color: black;
}


.sep {
	height: 40px;
}

#fixed {
	background: url("../img/fixed.jpg") no-repeat center center fixed;
	display: table;
	height: 40%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.moviedesc {
	overflow: auto;
	height: 315px;
	color: black;
	background-color: #78d4d4;
}
.contactForm {
	border-style: hidden;
	padding: 5px;
	border-radius: 10px;
	color: black;
	background-color: #78d4d4;
}

.contactForm form{
	padding-right: 10px;
}

.lyrics {
	overflow: auto;
	height: 315px;
	color: black;
	background-color: #78d4d4;
}

.regForm {
	border-style: hidden;
	padding: 20px;
	margin: 10px;
    border-radius: 10px;
	color: black;
	background-color: #78d4d4;
}
.regForm textarea{
		width: 80%;
}


.moviedesc a {
	vertical-align: bottom;

}

.moviedesc ul {
	text-align: left;
	list-style-type: circle;

}


iframe {
	width: 90%;
	height: 315px;
}

.bookpic {
	width: 210px;
	height: 315px;
}

.artistpic {
	width: 225px;
	height: 250px;
}

hr {
	border-style: solid;
	border-color: black;
	border-color: 1px;
}


.linkCollect {
	margin: 5px;
	padding: 5px;
	border-style: solid;
	border-radius: 7.5px;
	background-color: #78d4d4;
}
.linkCollect h4 {
	background-color:#78d4d4;
	color:  black;
}

.linkCollect ul {
	padding: 0;
	margin: 0;
	text-align: left;
	list-style-type: none;
}
.linkCollect li:nth-child(odd) {
	font-weight: bold;
	padding: 5px;
	background-color: #F7DCCB;
	color: black;
}
.linkCollect li:nth-child(even) {
	font-weight: bold;
	padding: 5px;
	background-color: #ACA497;
	color: black;
}

.linkCollect li a:link {
	color: black;
}

.linkCollect li a:visited {
	text-decoration:none;
	color: #1aa58e;
}
.linkCollect li a:hover {
	color: #78d4d4;
}


.cntct .fab {
   padding: 5px  15px ;
   margin-bottom: 10px;
	font-size: 30px;
}

.cntct .fab:hover {
	color: #78d4d4;
	text-decoration: none;
}

.cntct > a:link {
	text-decoration: none;
    color: #116466;
    font-weight: bold;
    font-size: 150%;
}





footer {
	width: 100% ;
	padding: 1% 1% 2% 1% ;
	background-color: black;
}

.fas {
	padding: 15px;
	font-size: 25px;
	color:  #78d4d4;
}

.fas:hover {
	color: #F7DCCB;
	text-decoration: none;
}

#resetBtn {
	text-decoration: none;
	color: black;
}
@media(min-width: 751px){
	#myPic {
		height: 300px;
		width: 450px;
	}
}

@media (max-width: 750px) {
	.landing-text h1 {
		color: black;
	padding: 0;
	font-size: 300%;
	font-weight: 350;
	
}
.landing-text h3 {

	color: black;
	padding: 0;
	font-size: 150%;
	font-weight: 175;
	
}
	.moviedesc{
		height: auto;
		margin: 20px;
	}
	.bookpic {
		padding-bottom: 10px;
	}

	.regForm textarea{
		width: 90%;
	}
	.lyrics {
	overflow: auto;
	height: 315px;
	color: black;
	background-color: #78d4d4;
	margin: 20px;
}
.contactForm{
	margin: 10px;
}

}






























